# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Claude AI
.claude/settings.local.json
.claude
.gitignore
main.py